<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <h1>The current weather in {{city}}, {{state}}</h1>
    <div class="data">
        <p>IP: {{ip}}</p>
        <p>City: {{city}}</p>
        <p>State: {{state}}</p>
        <p>Country: {{country}}</p>
        <p>Description: {{description}}</p>
        <p>Temperature: {{temp}} F</p>
        <p>Humidity: {{humidity}}%</p>
        <p>Visibility: {{visibility}}m</p>
        <p>Pressure: {{pressure}}hpa</p>
        <p>Wind Speed: {{windSpeed}}mph</p>
        <p>Wind Direction: {{direction}} ({{windDirection}})</p>
        <p>Sunrise at: {{sunrise}}</p>
        <p>Sunset at: {{sunset}}</p>
    </div>
    <p>{{map}}</p>
</body>
</html>